body {
    font-family: 'Urbanist', sans-serif; 
}

h1 {
    text-align: center;
    width: 100%;
}

button {
    background-color: #d6d6d6;
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    font-family: 'Urbanist', sans-serif; 
    padding: 3px 10px;
    margin-right: 30px;
}

.demo-wrapper {
    min-height: 670px;
}

.demo-container {
    height: 600px;
    width: 800px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    margin: 30px auto 0 auto;
    position: relative;
    resize: both;
}

.demo-container::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #999999;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
}

.demo-container::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #999999;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
}

.x, .y {
    position: absolute;
    color: #999999;
}

.x {
    top: calc(50% - 20px);
    left: calc(50% - 120px)
}

.y {
    top: calc(50% - 120px);
    left: calc(50% + 2px);
    writing-mode: vertical-rl;
}

.x.hidden, .y.hidden, .demo-container.hidden::after, .demo-container.hidden::before {
    display: none;
}


.controlers-container, .size-controllers, .element-container, .main-controllers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px auto 0 auto;
    width: 800px;
}

.controlers-container {
    justify-content: space-between;

}

.size-controllers div, .element-container div {
    margin-right: 30px;
}

.size-controllers div span::after {
    content: 'px';
    position: relative;
}

select {
    font-family: 'Urbanist', sans-serif;
    border-radius: 5px;
}

select::before {
    content: '';
    background: red;
    position: absolute;
    width: 10px;
    height: 10px;
}

.item {
    color: #999999;
    padding: 5px;
}

.one {
    background-color: #ffb3ba;
}

.two {
    background-color: #ffdfba;
}

.three {
    background-color: #ffffba;
}

.four {
    background-color: #baffc9;
}

.five {
    background-color: #bae1ff;
}

input[type="range"] {
    cursor: pointer;
}